{% extends 'base.html' %}

{% block title %}
Профиль пользователя {{ some_user.username }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-5">Профиль пользователя {{ some_user.username }}</h2>
        {% if some_user != user %}
            {% if not followed %}
            <form action="{% url 'follow' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button name="follow" value="{{ some_user.id }}" type="submit" class="btn btn-success">Подписаться</button>
                </div>
            </form>
            {% else %}
            <form action="{% url 'unfollow' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button name="unfollow" value="{{ some_user.id }}" type="submit" class="btn btn-danger">Отписаться</button>
                </div>
            </form>
            {% endif %}
                
        {% endif %}
        {% for post in posts %}
            <div class="card mt-5">
                <div class="card-header">
                    {{ post.created }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}