{% extends 'base.html' %}

{% block title %}
Профиль пользователя {{ some_user.username }}
{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-center mt-5">Профиль пользователя {{ some_user.username }}</h2>
        {% if some_user != user %}
            {% if not followed %}
            <form action="{% url 'follow' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button name="follow" value="{{ some_user.id }}" type="submit" class="btn btn-success">Подписаться</button>
                </div>
            </form>
            {% else %}
            <form action="{% url 'unfollow' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button name="unfollow" value="{{ some_user.id }}" type="submit" class="btn btn-danger">Отписаться</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        <a href="{% url 'new_post' %}" class="btn btn-info">Добавить пост</a>
        {% for post in posts %}
            <div class="card mt-5 post_block_{{ post.id }}">
                <div class="card-header d-flex justify-content-between">
                    {{ post.created }}
                    <form class="remove" action="{% url 'remove_post' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" data-id="{{ post.id }}" class="btn btn-danger">&times;</button>
                    </form>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}